body
{

height:1200px;
padding:0;
	margin:0;
	background:url(24.jpg);
        background-color:black;
        background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
       
}
#box4#shift3
{
margin-top:700px;
}
#box1#shift3
{

margin-top:500px;
}
label
{
color:rgb(255,255,190);
}

.move1
{
margin-top:-150px;
margin-left:580px;
}
h2
{color:rgb(203,216,160);
}
h1
{
color:Brown;

}
u
{
color:Brown;
}
u:hover
{
color:white;
}
.regular
{
font-family: 'MondaRegular';
margin-top:40px;
}
.regular:hover
{
color:red;
pointer:cursor;
}
#box3
{
background-color:rgba(0,0,0,0.8);
width:960px;
height:3955px;
margin-left:195px;
margin-top:-480px;
}
#shift1
{
margin-left:300px;
}
.shift
{
margin-top:100px;
}
h2
{
margin-left:320px;
}
.shift5
{
margin-top:50px;
margin-right:20px;
}
.long
{
width: 250px;
border:2px;
border-style:solid;
border-color:rgb(203,216,90);
}
#box1
{
background-color:rgba(0,0,0,0);
width:960px;
height:550px;
margin-left:195px;
margin-top:180px;
}
#box4
{
background-color:rgba(0,0,0,0.8);
width:960px;
height:200px;
margin-left:195px;
margin-top:180px;
}
#box2
{
font-family: 'MondaRegular';
padding:8px;
color:white;
margin-top:615px;
background-color:rgba(0,0,0,.92);
width:1332px;
height:165px;
}